<p>
  add works!
</p>
<div class="panel panel-default">
  <div class="panel-heading">data Entry Form : </div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="addDat()">
  <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Full Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.Name" name="Name" >
    </div>
  </div>
 
  <div class="form-group">
    <label  class="col-sm-2 control-label">Age: </label>
    <div class="col-sm-9">
      <input type="number" class="form-control" [(ngModel)]="model.Age" name="Age">
    </div>
  </div>
  
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
      
    </div>
   
  </div>
</form>

  </div>
</div>
